main {
	&> div {
		display: flex;

		canvas {
			margin: auto;
		}
	}

	&> aside {
		position: relative;

		*[x-editable] {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

login {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: hsla(0, 0%, 10%, 0.44);

	z-index: 10000;

	&> main {
		display: flex;
		flex-direction: row;
		background: hsl(0, 100%, 100%);
		border-radius: 4px;
		box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.3);
		overflow: hidden;

		margin: auto;
		width: 24rem;
		height: 8rem;

		&> div {
			flex: 100% 0 0;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			transition: all 0.2s;

			span {
				margin-bottom: 1rem;
			}

			label {
				font-size: 0.8rem;
				color: hsla(0, 0%, 0%, 0.3);
				width: 80%;
				flex: 0 1rem;
			}

			input {
				margin: 0;
				width: 80%;
				flex: 0 1rem;
			}
		}
	}
}

div.boilerplate {
	position: absolute;
	border-radius: 0;
	background: linear-gradient(
		to left,
		hsla(0, 0%, 100%, 1),
		hsla(0, 0%, 100%, 1) 10px,
		hsla(0, 0%, 0%, 0) 10.1px,
		hsla(0, 0%, 0%, 0)
	);
	opacity: 0.2;
}
