html, body {
	font: 100% 'Helvetica Neue', 'Helvetica', 'Liberation Sans', sans-serif;

	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	flex-direction: column;
	min-height: 100vh;

	&> * {
		display: flex;
		flex-direction: row;
	}

	&> header {
		background: hsl(0, 0%, 12%);
		flex: 0 0.2rem;
	}

	&> main {
		flex: 1;

		&> div {
			flex: 1;

		}

		&> aside {
			flex: 72ch 0;
		}

		&[pristine] {
			&> div {
				background: hsl(0, 0%, 90%);
			}

			&> aside {
				background: hsl(70, 8%, 15%);
			}
		}
	}

	&> footer {
		color: hsl(0, 0%, 77%);
		background: hsl(0, 0%, 8%);
		flex: 0 2.4rem;

		&> div {
			flex: 1;
		}

		&> p {
			font-size: 0.8rem;
			font-weight: 200;
			letter-spacing: 0.125rem;
			margin: auto 1rem;
		}
	}
}
